@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b0c;
  color: #e7e7ea;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
